fastapi==0.115.9
fastapi-limiter==0.1.6
uvicorn==0.34.2
uvloop==0.21.0
#weaviate==0.1.2
weaviate-client==4.14.4
redis>=4.5.0
pytesseract==0.3.13
python-dotenv==1.1.0
httpx==0.28.1
httpx-sse==0.4.0
sentence-transformers==4.1.0
torch>=2.3.0
transformers>=4.41.2
Pillow>=9.0.0
PyMuPDF>=1.22.0
